@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this for loading animation */
.animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

/* Progress bar styles */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: #7267ef;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #7267ef, 0 0 5px #7267ef;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px);
}
